html{
    background-color: #000000;
    color: aliceblue;
}

body{
    font-family: Corbel;
}

.main {
    background: url("img/cars-6248509 (1).png   "), no-repeat;
    background-position-y: bottom;
    background-size: cover;
    padding: 0px;
}

.mainBox {
    display: grid;
    height: 100vh;
    align-content: center;
    margin: 0px;
}

.mainText {
    text-align: center;
    color: aliceblue;
}

.mainText h1{
    font-weight: bolder;
    font-size: 150px;
    line-height: 0px
}

.mainText h2{
    font-weight: bold;
    font-size: 90px;
    line-height: 0px

}

.mainText h3{
    font-style: italic;
    font-weight: initial;
    font-size: 50px;
    line-height: 0px;
    font-family: "Arial Rounded MT Bold";
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 10px;
    column-gap: 10px;
}
.grid-item {
    background-color: #1a001a;
    border: none;
    padding: 20px;
    border-radius: 20px;
}

.historie {
    padding: 20px;
    display: grid;
    background-color: #1a001a;
    border-radius: 20px;
}